body {
  overflow-x: hidden;
  margin-left:auto;
  margin-right:auto;
}

div.poster_wrap {
  padding:  1in;
}

div.title_container {
  height: calc(81in * 0.066);
}
h1#title {
  font-size: 125pt;
}

h2 {
  margin-block-start:.4em;
  margin-block-end: .4em;
}